body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav,
.header {
    background-color: #1F2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    padding: 20px 150px 100px;
    gap: 50px;
}

.header { 
   flex: auto;
   flex-wrap: wrap;
}

.header-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 20px;
    width: 500px;
    height: 250px;
    margin: 20px;
    flex-shrink: 0;
}

.img {
    width: 500px;
    height: 250px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 20px;
}

.images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.information-images {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.info-img,
.info-txt {
    width: 150px;
    height: 150px;
    display: flex;
}

.info-img {
    border: 2px solid #1F2937;
    border-radius: 7px;
    flex-shrink: 0;
}

.hero-main,
.nav-logo {
    color: #f9faf8;
}

.nav-logo {
    font-weight: bold;
    font-size: 24px;
}
.hero-main {
    font-weight: bolder;
    font-size: 48px;
}
.hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    width: 100px;
    border-radius: 7px;
    padding: 7px;
    background-color: #3882f6;
    border: 0px;
    color: #e5e7eb;
    font-weight: bold;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 150px 150px 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    
}

.push-right {
    margin-left: auto;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}